@charset "ISO-8859-1";
body {
	background-color: powderblue;
	/*padding-top: 70px;*/
	/*This is the format for comments in css files*/
}
fieldset {
	background-color: lightblue;
	border:2px solid orange; 
	border-radius: 10px;
	width: 640px;
	border-left-width: 20px;
	padding-left: 10px;
}
footer{
	padding-top: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  /*position: fixed;
  top: 0;
  width: 100%; */
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
